body {
    margin: 0;
}

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.455);
    margin-bottom: 20px;
}

header ul {
    display: flex;
    gap: 50px;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: #f1f1f1;
}

header ul li {
    list-style-type: none;
    padding: 7px 10px;
}

header li a{
    text-decoration: none;
    display: block;
    color: black;
    padding: 8px 16px;
}

header li a:hover {
    background-color: #8888887f;
    color: white;
}
