body {
    margin: 0;
}

header {
    border-bottom: 1px solid black;
}

header ul {
    display: flex;
    gap: 20px;
    margin: 0;
}

header ul li {
    list-style-type: none;
    padding: 7px 10px;
}